/* font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif; */
/* color palette: #F7FBFC, #D6E6F2, #B9D7EA, #769FCD   */

h1 {
  /* color: #769FCD; */
  font-family: 'Lora', serif;
  letter-spacing: 3px;
}
body {
  font-family: 'Work Sans', sans-serif;
}

section {
  padding: 5% 20%;
}

.fa-solid {
  color: #769FCD;
  text-align: center;
}

.light_section {
  background-color:  #F7FBFC;
}

.dark-section {
  color: #F7FBFC;
  background-color: #769FCD;
}

.navbar {
  background-color: #F7FBFC;
}
/* Home Section */

.display-7 {
  letter-spacing: 4px;
}
.home {
  padding: 10% 20%;
}
.title {
  text-align: left;
  margin-top: 50px;
}

.profile_div{
  text-align: center;
}
.profile_photo {
  display: flex;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

/* BIO */
.bio {
  padding: 10% 20%;
  color: #F7FBFC;
}
.bio_photo {
  display: flex;
  width: 100%;
}

/* MY SERVICES */


/* PROJECTS */
.collapse {
  color: black;
}


.project_photos {
  max-width: 100%;
  height: auto;
  max-height: 90%;
}
/* Contact */
.contact_photo {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}
.btn-outline-primary:hover {
  background-color: #769FCD;
}
/* Footer */
.footer {
  padding: 1% 1%;
}
